<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-md-5 mt-3" style="height: 84vh;">
                <h4 class="card-header">Seja bem-vindo</h4>
                <div class="card-body">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-md-4">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Credenciais do Usuário</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img class="img-fluid" src="./../../../assets/images/silhueta.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <h5>Resumo das últimas operações</h5>
                            </div>
                            <div class="col-12 col-md-4">
                                <h5>Documentação</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>